.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #c921f3;
    padding: 10px;
    width: 50%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color: dimgray;

}

* {
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4];
    gap: 0 55px;

    /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 160px;
    gap: 10px;
    grid-auto-flow: dense; */
}

/* .container_2 {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}


/* .item2 {
    grid-column: span 2;
    grid-row: span 2;
}

.item3 {
    grid-column: span 2;
    grid-row: span 2;
} */
.img {
    width: 100%;
}

.item {
    background: rgb(201, 201, 163);
}

.item1 {
    grid-column-start: line1;
    grid-column-end: line4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: rgb(128, 102, 102);
    opacity: 5;
}

.item2 {
    background: rgb(56, 85, 56);
    opacity: 5;
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
}
